.main-conteiner{
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.main-conteiner ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.main-conteiner ul li{
    display: flex;
    flex-direction: column;
}

.main-conteiner ul li .avatar{
    max-width: 100%;
    height: 306.66px;
    border-radius: 5px 5px 0 0;
}
.main-conteiner ul li .star{
    position: absolute;
    width: 30px;
    margin: 8px;
}

.main-conteiner ul li footer{
    flex: 1;
    background: #ffff;
    border:  1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.main-conteiner ul li footer strong{
    font-size:  16px;
    color: #333;
}

.main-conteiner ul li footer p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-top: 5px;
}

.main-conteiner ul li .buttons{
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.main-conteiner ul li .buttons button{
    height: 50px;
    box-shadow: 2px 3px 3px rgb(0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.main-conteiner ul li .buttons button:hover img{
    transform: translateY(-5px);
    transition: all 0.2s;
}

.main-conteiner .empty{
    font-size: 32px;
    color:  #999;
    font-weight: bold;
    margin-top: 20%;
}

.match-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0,0.8);
}

.match-container .img-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 30px 0;
}

.match-container strong{
    font-size: 32px;
    color: #fff;
}
.match-container p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    max-width: 400px;
    color: rgb(255, 255, 255,0.8);
}
.match-container button{
    border: 0;
    cursor: pointer;
    background: none;
    font-weight: bold;
    color: rgb(255, 255, 255,0.8);
    margin-top: 3%;

}
.match-container button:hover{
    color: rgb(255, 0, 0);
}
.main-conteiner .loading-conteiner {
    display: flex;
    justify-content: center ;
    align-content: center;
    margin-top: 1%;
}
.main-conteiner .loading-conteiner #loading{
    color: rgb(0, 0, 0);
    display: none;
}
.main-conteiner .loading-conteiner #load{
    display: none;
    margin-left: 2%
}
.main-conteiner .github {
    width: 20px;
    cursor: pointer;
    background: none;
    margin-right: 5px;
} 
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
@media only screen and (max-device-width: 700px) {    
    .main-conteiner ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        grid-gap: 0px;
        margin-top: 20px;
    }
    .main-conteiner ul li{
        padding: 5%;
    }
    .main-conteiner ul li .avatar{
        height: 156.66px;
    }
    
}
