.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-top: 5%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding:  0 20px;
    font-size: 16px;
    color:  #666;
}
.login-container form input::placeholder{
    color: #999;
}

.login-container form button{
    margin-top: 10px;
    border: 0px;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #df4723;
    font-weight: bold;
    color: #ddd;
    cursor: pointer;

}
.login-container form button:hover{
    background: #ec360d;
}

.login-container form .erro{
    color: #fb0707;
    margin-top: 4%;
    text-align: center;    
    display: none;
}
.login-container form .loading{
    color: rgb(0, 0, 0);
    margin-top: 4%;
    display: none;
}
.login-container form .loading img{
    padding-left: 57%;
}